.MMM-NASCARPoints {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 8px;
    text-align: left;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.MMM-NASCARPoints h2 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #ffd700;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.MMM-NASCARPoints p {
    font-size: 18px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MMM-NASCARPoints .position {
    font-weight: bold;
    color: #ff4500;
    flex: 0.3;
    text-align: left;
}

.MMM-NASCARPoints strong {
    color: #ffd700;
    flex: 1;
}

.MMM-NASCARPoints .wins {
    font-weight: bold;
    color: #1e90ff;
    flex: 0.5;
    text-align: center;
}

.MMM-NASCARPoints .points {
    font-weight: bold;
    color: #32cd32;
    flex: 0.5;
    text-align: center;
}
